#main {
   margin-left: 15px;
}

.card-wraper {
    float: left;
    box-sizing: border-box;
    width: 30%;
    margin:20px;
    height: 500px;
}

.card {
    background-color: black;
    color: white;
    min-height: 400px;
    width: 100%;
    padding: 5px;
    border-radius: 15px;
}

.card img{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
}

.card h3 {
    text-align: center;
}

.button-card {
    margin-top: 2px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    min-height: 2em;
    width: 100%;
}

.button-card a {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 1370px) {
    .card-wraper {
        width: 45%;
        margin: 15px;
        height: 700px;
    }
    .card img {
        height: 400px;
    }

    #main {
        margin-left: 0px;
        width: 100%;
    }
  }

  @media only screen and (max-width: 900px) {
    .card-wraper {
        width: 45%;
        margin: 15px;
        height: 800px;
    }
    
    .card img {
        height: 500px;
    }
  }

  @media only screen and (max-width: 750px) {
    .card-wraper {
        width: 100%;
        margin: 15px;
        height: auto;
    }
    
    .card img {
        height: auto;
    }
}
